body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

/*
** Headers
*/

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
}

/*
** Containers
*/

.container {
    padding: 40px 20px;
}

.container-spacy {
    padding: 80px 20px;
}

/*
** Background
*/

.background-orange {
    background-color: #fec400;
}

/*
** Header
*/

header#main {

}
