/* Color */
html {
  font-size: 13px; }

body {
  font-family: "Open Sans"; }

/* Headers */
h1, h2, h3, h4, h5 {
  font-family: "Lato"; }

/* Containers */
.container {
  padding: 40px 20px; }

.container-spacy {
  padding: 80px 20px; }

/* Background */
.background-orange {
  background-color: #f8bc3b; }

.background-green {
  background-color: #27ae60; }

.background-grey {
  background-color: #3a3a3a; }

.background-white {
  background-color: #fff; }

.background-red {
  background-color: #db5940; }

.background-yellow {
  background-color: #fec400; }

.background-baby-blue {
  background-color: #7ecefd; }

.background-pale-blue {
  background-color: #d1e1ed; }

.background-slate-blue {
  background-color: #2c3e50; }

.background-midnight {
  background-color: #1f1f1f; }

.background-blue {
  background-color: #028ca6; }

/* Header */
header#main .brand a {
  display: block;
  font-family: "Pacifico";
  font-size: 2.5rem;
  color: #3a3a3a;
  margin-bottom: 20px;
  margin-top: -15px; }

/* Feature */
.feature .large-3 {
  padding-left: 80px; }
.feature h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 7rem;
  font-weight: 900;
  line-height: 5.5rem; }

/* Nav */
nav#main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right; }
  nav#main ul li {
    display: inline-block;
    margin: 0 0 10px 0; }
    nav#main ul li:last-child {
      margin-right: 0; }
    nav#main ul li:hover {
      border-radius: 5px;
      color: #fff;
      background-color: #3a3a3a; }
  nav#main ul a {
    color: #3a3a3a;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px; }
    nav#main ul a:hover {
      border-radius: 5px;
      color: #fff;
      background-color: #3a3a3a; }

/* Feature */
.features .cell {
  text-align: center; }
.features h5 {
  padding: 10px 0 5px 0;
  font-weight: 600;
  font-size: 1.8rem; }
.features p {
  margin-bottom: 50px; }

/* Recent */
.recent {
  background-color: #27ae60;
  color: #fff;
  text-align: center; }
  .recent h2 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 5px; }
  .recent p {
    color: #96eaba;
    font-size: 1.2rem; }
  .recent .cell {
    padding: 100px 0;
    margin: 10px 10px; }
  .recent a.button {
    margin-top: 15px;
    color: #000;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
    padding: 14px 30px; }

/* List */
.inline-list {
  list-style-type: none;
  margin: 50px 0; }
  .inline-list li {
    display: inline-block;
    margin: 0 20px 10px 20px; }
    .inline-list li:hover {
      border-radius: 5px; }
  .inline-list a {
    color: #fff;
    padding: 8px 10px;
    font-weight: 600;
    font-size: 1.2rem;
    border: 2px solid transparent; }
    .inline-list a.active {
      color: #27ae60;
      background-color: #fff;
      border-radius: 5px; }
    .inline-list a:hover {
      border: 2px solid #fff;
      border-radius: 5px; }

/*# sourceMappingURL=custom.css.map */
