@import "variables"

html
  font-size: 13px

body
  font-family: 'Open Sans'

/* Headers */
h1,h2,h3,h4,h5
  font-family: 'Lato'


/* Containers */
.container
  padding: 40px 20px

.container-spacy
  padding: 80px 20px


/* Background */
.background-orange
  background-color: $color_orange

.background-green
  background-color: $color_green

.background-grey
  background-color: $color_grey

.background-white
  background-color: $color_white

.background-red
  background-color: $color_red

.background-yellow
  background-color: $color_yellow

.background-baby-blue
  background-color: $color_baby-blue

.background-pale-blue
  background-color: $color_pale-blue

.background-slate-blue
  background-color: $color_slate-blue

.background-midnight
  background-color: $color_midnight

.background-blue
  background-color: $color_blue


/* Header */
header#main
  .brand a
    display: block
    font-family: "Pacifico"
    font-size: 2.5rem
    color: $color_black
    margin-bottom: 20px
    margin-top: -15px

/* Feature */
.feature
  .large-3
    padding-left: 80px
  h1
    text-transform: uppercase
    color: $color_white
    font-size: 7rem
    font-weight: 900
    line-height: 5.5rem

/* Nav */
nav#main ul
  list-style-type: none
  margin: 0
  padding: 0
  float: right
  li
    display: inline-block
    margin: 0 0 10px 0
    &:last-child
      margin-right: 0
    &:hover
      border-radius: 5px
      color: $color_white
      background-color: $color_black
  a
    color: $color_black
    font-size: 1rem
    font-weight: 600
    padding: 10px 20px
    &:hover
      border-radius: 5px
      color: $color_white
      background-color: $color_black


/* Feature */
.features
  .cell
    text-align: center
  h5
    padding: 10px 0 5px 0
    font-weight: 600
    font-size: 1.8rem
  p
    margin-bottom: 50px

/* Recent */
.recent
  background-color: $color_green
  color: $color_white
  text-align: center
  h2
    color: $color_white
    text-transform: uppercase
    margin-bottom: 5px
  p
    color: #96eaba
    font-size: 1.2rem
  .cell
    padding: 100px 0
    margin: 10px 10px
  a.button
    margin-top: 15px
    color: #000
    background-color: #fff
    font-weight: 600
    border-radius: 5px
    padding: 14px 30px


/* List */
.inline-list
  list-style-type: none
  margin: 50px 0
  li
    display: inline-block
    margin: 0 20px 10px 20px
    &:hover
      border-radius: 5px
  a
    color: $color_white
    padding: 8px 10px
    font-weight: 600
    font-size: 1.2rem
    border: 2px solid transparent
    &.active
      color: $color_green
      background-color: $color_white
      border-radius: 5px
    &:hover
      border: 2px solid #fff
      border-radius: 5px
